<html>
  <head>
    <title>Mulligan App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


    <!--This is where the python code will go-->
    <script language = "JavaScript" type= "text/javascript">

    var list_one = new Array("https://cdn.rawgit.com/schmich/hearthstone-card-images/778d/pre/ice-breaker.png",
                             "https://cdn.rawgit.com/schmich/hearthstone-card-images/af12/pre/abominable-bowman.png",
                             "https://cdn.rawgit.com/schmich/hearthstone-card-images/af12/pre/nerubian-unraveler.png");

    var list_two = new Array("https://cdn.rawgit.com/schmich/hearthstone-card-images/778d/pre/ice-breaker.png",
                             "https://cdn.rawgit.com/schmich/hearthstone-card-images/af12/pre/abominable-bowman.png",
                             "https://cdn.rawgit.com/schmich/hearthstone-card-images/af12/pre/nerubian-unraveler.png",
                             "https://cdn.rawgit.com/schmich/hearthstone-card-images/62dd/pre/prince-taldaram.png")

    var testpull = {"order": true,
    "hand_url": ["https://cdn.rawgit.com/schmich/hearthstone-card-images/f5d6/rel/CFM_065.png", "https://cdn.rawgit.com/schmich/hearthstone-card-images/f5d6/rel/CS2_022.png", "https://cdn.rawgit.com/schmich/hearthstone-card-images/f5d6/rel/EX1_561.png"],
    "opponent": "Hunter",
    "decklist": [555, 621, 621, 39767, 41496,1004, 1087, 39715, 39767, 41878, 40297, 41153, 39841, 555, 39715, 41496, 192, 315,405, 38792, 192, 662, 912],
    "smalldeck": ["https://cdn.rawgit.com/schmich/hearthstone-card-images/f5d6/rel/NEW1_012.png", "https://cdn.rawgit.com/schmich/hearthstone-card-images/afb4/rel/CS2_024.png", "https://cdn.rawgit.com/schmich/hearthstone-card-images/afb4/rel/UNG_020.png", "https://cdn.rawgit.com/schmich/hearthstone-card-images/f5d6/rel/CS2_029.png"],
    "deckcode": "AAECAf0ECE3FBJAH7Ae/CIivAqG3ApbHAgvAAbsClQOrBO0ElgWjtgLXtgLpugLBwQKYxAIA", "hand_names": null}

    var hand = testpull.hand_url

    var i;
    function cardimages(array){
      for (i = 0; i < array.length; i++) {
        var cardi = array[i];
        var img = document.createElement("img");
        img.src = cardi;
        img.width = 140;
        img.height = 200;
        img.id = "card" + i
        document.body.appendChild(img);
      }
    }

    function clicked(){
      document.getElementById("lim_clicks").disabled=true;;
    }

    //function load(){
      //document.getElementById('cardone').src = cardone;
    //}

    </script>
  </head>


  <body>
  <form name="deckcode">
    Deckcode: <input type="text" name="deckcode">
  </form>

  <button id="lim_clicks" onclick="cardimages(list_two); clicked()">Draw Cards</button>
  <!--This displays the card images-->
  <br><br>
  <!--<img src="nothing.jpg" id="cardone">
  <img src="nothing.jpg" id="cardtwo">
  <img src="nothing.jpg" id="cardthree">
  <img src="nothing.jpg" id="cardfour">-->

  </body>
</html>
