

<html>
  <head>
    <title>Mulligan App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--AJax functions, and all other python related functions go here in the head -->
    <script language = "JavaScript" type= "text/javascript">

    $(document).ready(function() {
        $('form').on('submit', function(event){
            $.ajax({
              data: {
                deckcode: $('#deckcode').val()
              },
              type: 'POST'
              url:'/_simulate'
            })
            event.preventDefault();
        });
    });

    $(function() {
      $('a#process_input').bind('click', function() {
          $.getJSON('/_simulate', {
            deckcode: $('input[name="deckcode"]').val(),
          }, function(data) {
        $("#result").text(data.result);
        $("#hand").(data.result.hand_url);
        $("#smalldeck").(data.result.smalldeck);
        });
        return false;
      });
    });

    var hand = new Array(document.getElementById('hand'));

    var smalldeck = new Array(document.getElementById('smalldeck'));

        var i;
        function cardimages(array){
          for (i = 0; i < array.length; i++) {
            var cardi = array[i];
            var img = document.createElement("img");
            img.src = cardi;
            img.width = 140;
            img.height = 200;
            img.id = "card" + i
            document.body.appendChild(img);
          }
        }

        //this function disables the mulligan button after the first click
        function clicked(){
          document.getElementById("lim_clicks").disabled=true;;
        }

        </script>
      </head>


      <body>
      <form name="deckcode">
        Deckcode: <input type="text" name="deckcode">
      </form>

      <button id="lim_clicks" onclick="cardimages(hand); clicked()">Draw Cards</button>

      <div id='card1'></div>
      <div id='card2'></div>
      <div id='card3'></div>
      <div id='card4'></div>
    </div>



  </body>
</html>
