<html>
  <head>
    <title>Mulligan App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script language = "JavaScript" type= "text/javascript">
        $(function() {
      $('a#process_input').bind('click', function() {
          $.getJSON('/_smalltest', function(data) {
        $("#result").text(data.result);
        });
        return false;
      });
    });
    </script>
    </head>

      <body>
    <div class='container'>
    <form name="deckcode">
      Deckcode: <input type="text" name="deckcode">
      <a href=# id=process_input><button class='btn btn-default' onclick="cardimages(hand)">Mulligan</button></a>
    </form>

      <div id='card1'></div>
      <div id='card2'></div>
      <div id='card3'></div>
      <div id='card4'></div>
    </div>



  </body>
</html>
